@page "/candidateeducation"
@inject HttpClient Http
@inject NavigationManager Navigation

<PageTitle>CandidateEducation</PageTitle>
<h3>CandidateEducation</h3>

@if (Response == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <tbody>
            <tr>
                <td><button class="btn btn-info btn-sm" @onclick="() => NavigateToNew()">Ekle</button></td>
            </tr>
        </tbody>
    </table>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>REGISTER DATE</th>
                <th>UPDATE DATE</th>
                <th>IS ACTIVE</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var CandidateEducation in Response.DataList)
            {
                <tr>
                    <td>@CandidateEducation.Id</td>
                    <td>@CandidateEducation.Name</td>
                    <td>@CandidateEducation.RegisterDate</td>
                    <td>@CandidateEducation.UpdateDate</td>
                    <td>@CandidateEducation.IsActive</td>
                    <td></td>
                    <td>
                        <button class="btn btn-info btn-sm" @onclick="() => NavigateToDetail(CandidateEducation.Id)">Detay</button>
                        <button class="btn btn-warning btn-sm" @onclick="() => NavigateToEdit(CandidateEducation.Id)">Düzenle</button>
                        <button class="btn btn-danger btn-sm" @onclick="() => NavigateToDelete(CandidateEducation.Id)">Sil</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code
{
    private ServiceResponse<CandidateEducationResponse>? Response { get; set; }

    protected async override Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<ServiceResponse<CandidateEducationResponse>>("https://localhost:7046/api/candidateeducation");
    }

    private void NavigateToNew()
    {
        Navigation.NavigateTo($"/candidateeducationcreate");
    }

    private void NavigateToDetail(Guid id)
    {
        Navigation.NavigateTo($"/candidateeducationinfo/{id}");
    }

    private void NavigateToEdit(Guid id)
    {
        Navigation.NavigateTo($"/candidateeducationupdate/{id}");
    }

    private void NavigateToDelete(Guid id)
    {
        Navigation.NavigateTo($"/candidateeducationdelete/{id}");
    }
}