@page "/college"
@inject HttpClient Http
@inject NavigationManager Navigation

<PageTitle>College</PageTitle>
<h3>College</h3>

@if (Response == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <tbody>
            <tr>
                <td><button class="btn btn-info btn-sm" @onclick="() => NavigateToNew()">Ekle</button></td>
            </tr>
        </tbody>
    </table>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>REGISTER DATE</th>
                <th>UPDATE DATE</th>
                <th>IS ACTIVE</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var College in Response.DataList)
            {
                <tr>
                    <td>@College.Id</td>
                    <td>@College.Name</td>
                    <td>@College.RegisterDate</td>
                    <td>@College.UpdateDate</td>
                    <td>@College.IsActive</td>
                    <td></td>
                    <td>
                        <button class="btn btn-info btn-sm" @onclick="() => NavigateToDetail(College.Id)">Detay</button>
                        <button class="btn btn-warning btn-sm" @onclick="() => NavigateToEdit(College.Id)">Düzenle</button>
                        <button class="btn btn-danger btn-sm" @onclick="() => NavigateToDelete(College.Id)">Sil</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code
{
    private ServiceResponse<CollegeResponse>? Response { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<ServiceResponse<CollegeResponse>>("https://localhost:7046/api/college");
    }

    private void NavigateToNew()
    {
        Navigation.NavigateTo($"/collegecreate");
    }

    private void NavigateToDetail(Guid id)
    {
        Navigation.NavigateTo($"/collegeinfo/{id}");
    }

    private void NavigateToEdit(Guid id)
    {
        Navigation.NavigateTo($"/collegeupdate/{id}");
    }

    private void NavigateToDelete(Guid id)
    {
        Navigation.NavigateTo($"/collegedelete/{id}");
    }
}