@page "/jobposting"
@inject HttpClient Http
@inject NavigationManager Navigation

<PageTitle>JobPosting</PageTitle>
<h3>JobPosting</h3>

@if (Response == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <tbody>
            <tr>
                <td><button class="btn btn-info btn-sm" @onclick="() => NavigateToNew()">Ekle</button></td>
            </tr>
        </tbody>
    </table>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>REGISTER DATE</th>
                <th>UPDATE DATE</th>
                <th>IS ACTIVE</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var JobPosting in Response.DataList)
            {
                <tr>
                    <td>@JobPosting.Id</td>
                    <td>@JobPosting.Name</td>
                    <td>@JobPosting.RegisterDate</td>
                    <td>@JobPosting.UpdateDate</td>
                    <td>@JobPosting.IsActive</td>
                    <td></td>
                    <td>
                        <button class="btn btn-info btn-sm" @onclick="() => NavigateToDetail(JobPosting.Id)">Detay</button>
                        <button class="btn btn-warning btn-sm" @onclick="() => NavigateToEdit(JobPosting.Id)">Düzenle</button>
                        <button class="btn btn-danger btn-sm" @onclick="() => NavigateToDelete(JobPosting.Id)">Sil</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code
{
    private ServiceResponse<JobPostingResponse>? Response { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<ServiceResponse<JobPostingResponse>>("https://localhost:7046/api/jobposting");
    }

    private void NavigateToNew()
    {
        Navigation.NavigateTo($"/jobpostingcreate");
    }

    private void NavigateToDetail(Guid id)
    {
        Navigation.NavigateTo($"/jobpostinginfo/{id}");
    }

    private void NavigateToEdit(Guid id)
    {
        Navigation.NavigateTo($"/jobpostingupdate/{id}");
    }

    private void NavigateToDelete(Guid id)
    {
        Navigation.NavigateTo($"/jobpostingdelete/{id}");
    }
}