@page "/managerdetail"
@inject HttpClient Http
@inject NavigationManager Navigation

<PageTitle>ManagerDetail</PageTitle>
<h3>ManagerDetail</h3>

@if (Response == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <tbody>
            <tr>
                <td><button class="btn btn-info btn-sm" @onclick="() => NavigateToNew()">Ekle</button></td>
            </tr>
        </tbody>
    </table>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>REGISTER DATE</th>
                <th>UPDATE DATE</th>
                <th>IS ACTIVE</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ManagerDetail in Response.DataList)
            {
                <tr>
                    <td>@ManagerDetail.Id</td>
                    <td>@ManagerDetail.Name</td>
                    <td>@ManagerDetail.RegisterDate</td>
                    <td>@ManagerDetail.UpdateDate</td>
                    <td>@ManagerDetail.IsActive</td>
                    <td></td>
                    <td>
                        <button class="btn btn-info btn-sm" @onclick="() => NavigateToDetail(ManagerDetail.Id)">Detay</button>
                        <button class="btn btn-warning btn-sm" @onclick="() => NavigateToEdit(ManagerDetail.Id)">Düzenle</button>
                        <button class="btn btn-danger btn-sm" @onclick="() => NavigateToDelete(ManagerDetail.Id)">Sil</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code
{
    private ServiceResponse<ManagerDetailResponse>? Response { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<ServiceResponse<ManagerDetailResponse>>("https://localhost:7046/api/managerdetail");
    }

    private void NavigateToNew()
    {
        Navigation.NavigateTo($"/managerdetailcreate");
    }

    private void NavigateToDetail(Guid id)
    {
        Navigation.NavigateTo($"/managerdetailinfo/{id}");
    }

    private void NavigateToEdit(Guid id)
    {
        Navigation.NavigateTo($"/managerdetailupdate/{id}");
    }

    private void NavigateToDelete(Guid id)
    {
        Navigation.NavigateTo($"/managerdetaildelete/{id}");
    }
}